html body {
  margin: 0;
}

.centerContainer {
  margin: 0  20%;
  display: none;
}

.centerContainer-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:100px;
  margin-bottom: 20px;
}
.centerContainer-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerContainer-buttons button {
  border-radius: 5px;
  outline: none;
}

.show{
  display: block;
}

.high {
  display: none;
}

.start {
  border: none;
  background-color: #7FFFD4;
  padding: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 10px auto;
}

.timer{
  display: flex;
  justify-content: center;
margin: 30px auto;
font-size: 40px;
}

.score {
  display: flex;
  justify-content: center;
margin: 30px auto;
font-size: 20px;
}
